/* ######################################## Main CSS ############################################# */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-1200px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(800px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes uiBoxAppers {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ----------------------------------------------------------------------------------------------- */

/* ######################################## Main Window Div ############################################# */

.window-div {
  width: 100vw;
  height: 100vh;
  background-color: burlywood;
}

/* ------------------------------------------------------------------------------------------------------ */

/* ######################################## Navigation Bar ############################################# */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 3px solid black;
  background-color: rgba(255, 255, 255, 0.6);
}

.navbar-item {
  padding: 0 30px;
  cursor: context-menu;
}

/* ------------------------------------------------------------------------------------------------------ */

/* ######################################## Login & Register ############################################# */

.login-box {
  border: 2px solid black;
  width: 300px;
  height: 375px;
  margin: 5rem auto;
  padding: 15px;
}

.login-box-inside {
  padding: 25px 5px;
}

/* ------------------------------------------------------------------------------------------------------ */

/* ######################################## Class Select Screen ############################################# */

.class-select-container {
  /* border: 5px solid black; */
  width: 1400px;
  height: 700px;
  margin: 1rem auto;
  padding: 10px 5px;
}

.class-select-table {
  /* border: 3px solid black; */
  width: 1000px;
  height: 600px;
  margin: 25px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
}

.class {
  border: 3px solid black;
  width: 320px;
  height: 527px;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  justify-items: start;
  align-items: end;
  box-shadow: inset 0 -140px 55px 10px rgb(55, 55, 55);
  cursor: pointer;
  font-size: 18px;
  animation: 1.15s ease-out 0s 1 slideInFromBottom;
  z-index: 2;
}

.class:hover {
  transform: scale(1.05);
  font-weight: bold;
  box-shadow: inset 0 -165px 60px 15px rgb(150, 100, 50),
    0px 0px 35px 20px rgb(3, 2, 2);
  padding-bottom: 40px;
  transition: 0.5s ease-in-out;
}

.class > p {
  grid-column: span 2;
  justify-self: center;
  padding-bottom: 10px;
}

/* the image on the class selection */
.warrior {
  background-image: url(./images//class-warrior.jpg);
  background-size: 100%;
}
.mage {
  background-image: url(./images//class-mage.jpg);
  background-size: 100%;
}
.thief {
  background-image: url(./images//class-thief.jpg);
  background-size: 100%;
}

.h1ChooseClass {
  font-size: 4rem;
  font-style: italic;
  text-decoration: underline;
  padding-left: 75px;
  animation: 1.15s ease-out 0s 1 slideInFromLeft;
  /* transform: translateX(100px);
  transition: 1s ease-in-out; */
}

.class-ul {
  grid-column-start: 1;
  list-style-type: none;
  justify-self: center;
  padding-bottom: 25px;
}

.class-li {
  cursor: context-menu;
}

/* ------------------------------------------------------------------------------------------------------ */

/* ######################################## Battle Screen ############################################# */

.battle-container {
  border: 5px solid black;
  width: 1400px;
  height: 700px;
  margin: 5rem auto;
  padding: 15px 5px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 15px;
}

.player-battle-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ui-box {
  border: 2px solid black;
  padding: 5px;
  margin-top: 10px;
  width: 96%;
  height: 100%;
  animation: 1.25s ease-out 0s 1 uiBoxAppers;
}

.ui-box-ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 100%;
  width: 98%;
  padding-left: 10px;
}

.ui-box-ul > li {
  border: 1px solid red;
  width: 100%;
  cursor: context-menu;
}

.enemy-battle-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.still {
  font-weight: bold;
  cursor: auto;
}

.still:hover {
  transition: none;
  transform: none;
  font-weight: bold;
  box-shadow: inset 0 -140px 55px 10px rgb(55, 55, 55);
  padding-bottom: 5px;
}

.classEnemy {
  grid-column-start: 3;
}

.orc1 {
  background-image: url(./images//enemy-orc4.png);
  background-size: 100%;
}

.orc2 {
  background-image: url(./images//enemy-orc2.jpg);
  background-size: 100%;
}

.orc3 {
  background-image: url(./images//enemy-orc3.png);
  background-size: 100%;
}

.troll1 {
  background-image: url(./images//enemy-troll.jpg);
  background-size: 100%;
}

.troll2 {
  background-image: url(./images//enemy-troll2.jpg);
  background-size: 100%;
}

/* ------------------------------------------------------------------------------------------------------ */

/* ######################################## Console Box  ################################################ */

.console-box {
  grid-column: 2 / 4;
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  line-height: 30px;
  cursor: context-menu;
}

.console-box-title {
  font-size: 80px;
  font-weight: lighter;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
}

/* ------------------------------------------------------------------------------------------------------ */

/* ######################################## End Game Screen ############################################# */

.end-container {
  border: 5px solid black;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  font-size: 3rem;
  width: 500px;
  height: 400px;
  margin: 5rem auto;
  padding: 20px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.end-p {
  margin-bottom: 30px;
}

.end-btn-div {
  display: flex;
  flex-direction: row;
}

.end-btn {
  margin: 10px;
  width: 180px;
  height: 55px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.end-btn:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.end-btn:active {
  transform: scale(0.95);
  transition: 0.05s ease-in-out;
}

/* ------------------------------------------------------------------------------------------------------ */
